<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>{% block title %}Daily Pakistan Cricket Score{% endblock %}</title>

		<!-- Bootstrap CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="{{ url_for('static', filename='css/nanoscroller.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css') }}?v=214447" rel="stylesheet">
		<!--GOOGLE ADS-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-10712181-5', 'auto');
		  ga('send', 'pageview');

		</script>
		<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
		<script>
		  var googletag = googletag || {};
		  googletag.cmd = googletag.cmd || [];
		</script>

		<script>
		  googletag.cmd.push(function() {
		    googletag.defineSlot('/1002138/DailyPakistan_EN_320x50', [320, 50], 'div-gpt-ad-1471844181145-0').addService(googletag.pubads()).setCollapseEmptyDiv(true);
		    googletag.pubads().enableSingleRequest();
		    googletag.enableServices();
		  });
		</script>
	</head>
	<body class="{% block body_class %}{% endblock %} nano">
		{% block navbar %}{% endblock %}
		<div id="container" class="container-fluid nano-content">
			<div class="row">
					{% block content%}
					{% endblock %}
			</div>
		</div>
		<!-- /1002138/DailyPakistan_EN_320x50 -->
		<div id='div-gpt-ad-1471844181145-0'>
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1471844181145-0'); });
			</script>
		</div>
		<!-- jQuery -->
		<script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.nanoscroller.min.js') }}"></script>
		<script type="text/javascript">
			var height = $(window).height();
			$(".nano").css("height", height);
			
			$( window ).resize(function() {
			  height = $(window).height();
			  $(".nano").css("height", height);
			});
			
			$(".nano").nanoScroller();
		</script>
		{% block footer_scripts %}
		{% endblock %}
	</body>
</html>
