{% extends "base.html" %}

{% block navbar %}{% endblock %}
{% block body_class %}match{% endblock %}
{% block title %}Full Scorecard - {{mid}} | Score@Dailypakistan{% endblock %}

{% block content %}
	<header class="text-center ongoing_match">
		<button style="position:fixed;top:1px;left:1px;border:3px solid #ddd;background:#333;color:#ccc;box-shadow:0px 0px 3px #222;font-weight:bold;z-index:9999;" onclick="window.history.back()" hidden>←</button>
		<img class="img-responsive center stadium" src="{{scorecard.place.Gimaget}}" alt=""><br>
			{% for team in scorecard.teams %}
				{% if loop.index == 1 %}
					<img src="{{team.flag.roundstd}}" alt="">
				{% endif %}
					<span class="h3">{{team.fn}}</span>
				        {% if loop.index == 1 %}
					<br><strong>vs</strong><br>
					{% endif %}
				{% if loop.index == 2 %}
					<img src="{{team.flag.roundstd}}" alt="">
				{% endif %}
			{% endfor %}<hr>
		<p class="small">{{scorecard.series.series_name}}</p>
		<p class="small">{{scorecard.place.stadium}}, {{scorecard.place.country}}</p>
		<span class="toss">{{team(scorecard, scorecard.toss.win)}} won the toss and elected to {% if scorecard.toss.bat == '1' %}bat{% else %}field{% endif %}</span><br><br>
	</header>

	{% for ings in scorecard.past_ings %}
			{% if loop.index == 1 %}
				<div class="top_score text-center">
					{% if ings.s.d %}<p class="match_status">{{ings.s.d}}{% if ings.s.dm %} | {{ings.s.dm}}{% endif %}</p>{% endif %}
					<p class="match_score">{{team(scorecard, ings.s.a.i)}}: {{ings.s.a.r}}/{{ings.s.a.w}} ({{ings.s.a.o}})</p>
					{% if ings.s.a.cr %}<p class="small">Run Rate {{ings.s.a.cr}}{% endif %}</small>{% if ings.s.a.rr %} | <small>Required Rate {{ings.s.a.rr}}</p>{% endif %}
					{% if ings.s.a.tl %}
						{{team(scorecard, ings.s.a.i)}} 
						{{ings.s.a.tl}}
					{% endif %}
					{% if ings.s.a.tg %}
						{{team(scorecard, ings.s.a.i)}} 
						need {{ings.s.a.tg}} to win
					{% endif %}

					{% if scorecard.past_ings.s == none %}
						{% if scorecard.past_ings[1].s.a.i %}
						<p class="match_score small">{{team(scorecard, scorecard.past_ings[1].s.a.i)}}: {{scorecard.past_ings[1].s.a.r}}/{{scorecard.past_ings[1].s.a.w}} ({{scorecard.past_ings[1].s.a.o}})</p>
						{% endif %}
					{% endif %}

					{% if scorecard.result %}
						<p class="match_result">
						{% if scorecard.result.winner=='0' %}
							Match Drawn
						{% else %}
							{{team(scorecard, scorecard.result.winner)}} win by {{scorecard.result.by}} {{scorecard.result.how}}
						{% endif %}
							{% if scorecard.result.mom %}
								<br>Man of the match: {{scorecard.result.mom.fn}}
							{% endif %}
						</p>
					{% endif %}
				</div>
			{% endif %}			
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<table class="table">
						<thead>
							<tr>
								{% set teamAid = player(scorecard, ings.d.a.t[0].i).team %}
								<th>
									<img src="{{flag(scorecard, teamAid).small}}" alt="">
									{{team(scorecard, teamAid)}}
								</th>
								<th></th>
								<th>Batting</th>
							</tr>
						</thead>
						<tbody>
						{% for batter in ings.d.a.t %}
							<tr>
								<td>{{player(scorecard, batter.i).name}}</td>
								<td>{% if batter.c and batter.c != 'Batting'%}<small>{{batter.c}}</small>{% endif %}</td>
								<td>{% if batter.c == 'Batting'%}<span class="text-danger"> * </span>{% endif %}{{batter.r}} ({{batter.b}})</td>
							</tr>
						{% endfor %}
							<tr class="total">
								<td>TOTAL</td>
								<td></td>
								<td> {{ings.s.a.r}}/{{ings.s.a.w}} ({{ings.s.a.o}}) {{ings.s.a.tl}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="col-sm-5">
				<table class="table table-condensed small">
					<thead>
						<tr>{% if ings.d.o.t[0] %}
								{% set pt = ings.d.o.t[0].i %}
							{% else %}
								{% set pt = ings.d.o.t.i %}
							{% endif %}
							{% set teamBid = player(scorecard, pt).team %}
							<th>
								<img src="{{flag(scorecard, teamBid).roundsmall}}" alt="">
								{{team(scorecard, teamBid)}}
							</th>
							<th>Bowling</th>
						</tr>
					</thead>
					<tbody>
						{% if ings.d.o.t %}
							{% for bowler in ings.d.o.t %}
								<tr>
									<td>{{player(scorecard, bowler.i).name}}</td>
									<td>{{bowler.w}} for {{bowler.r}} ({{bowler.o}})</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block footer_scripts %}
<script language="javascript" type="text/javascript">
var timeout = setInterval(reloadScore, 25000);    
function reloadScore () {
		var loc = location.href+" #container>*"
     $('#container').load(loc);
}
</script>
{% endblock %}
