{% extends "base.html" %}

{% block navbar %}{% endblock %}
{% block title %}PSL 2017{% endblock %}

{% block content %}
	<header class="text-center ongoing_match">
		<img class="img-responsive center stadium" src="" alt=""><br>

		<h2>Pakistan Super League 2018</h2>
		<p class="match_status">Live</p>
		<h3><span class="teama_name"></span> vs <span class="teamb_name"></span></h3>
	</header>
	<div class="top_score">

		
		<p class="match_score ">
			<p class="small text-center">
				<span id="match_status" class="text-left"></span>
			</p>
		</p>


		<div class="row match_score"><br>
			<div class="col-xs-6 text-right">
				<div class="teama_name"></div>
				<div id="teama_score"></div>
			</div>
			<div class="col-xs-6 text-left">
				<div class="teamb_name"></div>
				<div id="teamb_score"></div>
			</div>
		</div>

	</div>
				
						
						

{% endblock %}

{% block footer_scripts %}
<script language="javascript" type="text/javascript">
var timeout = setInterval(reloadScore, 5000);    
function reloadScore () {
	    var random = Math.random();
        random = random.toString();

        $.get("/static/manual.json?" + random, function(data, status) {
            var score = data;
            var teama = score.TeamA;
            var teamb = score.TeamB;
            var match_status = teama.name + ": " + teama.status + "<br>" + teamb.name + ": " + teamb.status;
            var teama_score = teama.score + " (" + teama.overs + ")";
            var teamb_score = teamb.score + " (" + teamb.overs + ")";
            $(".teama_name").html(teama.name);
            $(".teamb_name").html(teamb.name);
            $("#match_status").html(match_status);

            $("#teama_score").html(teama_score);
            $("#teamb_score").html(teamb_score);

            $("#indstatus").val(ind.status);
            $("#indscore").val(ind.score);
            $("#indovers").val(ind.overs);
        });
}
reloadScore();
</script>
{% endblock %}
